.app-container {
  display: flex;
  height: 100vh;
  background: #f8fafc;
}

.graph-container {
  flex: 3;
  border-right: 1px solid #e2e8f0;
}

.graph-title {
  padding: 10px;
}

.graph-canvas {
  width: 100%;
  height: 90%;
}

.inspector-container {
  flex: 2;
  padding: 10px;
  overflow: auto;
}

.inspector-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.inspector-close-btn {
  margin-bottom: 10px;
}
